In [1]:
# Dependencies
import pandas as pd
import datetime as dt

In [2]:
file="Resources/covid cases daily.xlsx"
df_covid_cases=pd.read_excel(file)
df_covid_cases.head()

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-03,US,United States of America,0,0,0,0
1,2020-01-04,US,United States of America,0,0,0,0
2,2020-01-05,US,United States of America,0,0,0,0
3,2020-01-06,US,United States of America,0,0,0,0
4,2020-01-07,US,United States of America,0,0,0,0

In [3]:
# covert to datetime
df_covid_cases['Date_reported'] = pd.to_datetime(df_covid_cases['Date_reported'], errors='coerce')
# show the types 
df_covid_cases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 813 entries, 0 to 812
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date_reported      813 non-null    datetime64[ns]
 1   Country_code       813 non-null    object
 2   Country            813 non-null    object
 3   New_cases          813 non-null    int64
 4   Cumulative_cases   813 non-null    int64
 5   New_deaths         813 non-null    int64
 6   Cumulative_deaths  813 non-null    int64
dtypes: datetime64[ns](1), int64(4), object(2)
memory usage: 44.6+ KB

In [4]:
# date in MM-DD-YYYY format
df_covid_cases['Date_reported'] = df_covid_cases['Date_reported'].dt.strftime('%m-%d-%Y')
# display the dataframe
df_covid_cases.head()

,Date_reported,Country_code,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,01-03-2020,US,United States of America,0,0,0,0
1,01-04-2020,US,United States of America,0,0,0,0
2,01-05-2020,US,United States of America,0,0,0,0
3,01-06-2020,US,United States of America,0,0,0,0
4,01-07-2020,US,United States of America,0,0,0,0

In [6]:
df_covid_cases['Month']= df_covid_cases['Date_reported'].dt.month
df_covid_cases.head()

AttributeError: Can only use .dt accessor with datetimelike values