In [89]:
import pandas as pd
from datetime import datetime

In [93]:

#df = pd.read_csv(Path('../Resouces/final_dataframe.csv'))
file="Resources/cleaned_covid_data.csv"

In [94]:
df.head()

   Unnamed: 0  New_cases  New_deaths    Date
0           0          0           0  1-2020
1           1          0           0  1-2020
2           2          0           0  1-2020
3           3          0           0  1-2020
4           4          0           0  1-2020

In [95]:
df.columns

Index(['Unnamed: 0', 'New_cases', 'New_deaths', 'Date'], dtype='object')

In [96]:
import datetime

In [97]:
df['Date'].describe(datetime_is_numeric=True)

count        813
unique        27
top       1-2021
freq          31
Name: Date, dtype: object

In [98]:
df.shape

(813, 4)

In [99]:
df.head()

   Unnamed: 0  New_cases  New_deaths    Date
0           0          0           0  1-2020
1           1          0           0  1-2020
2           2          0           0  1-2020
3           3          0           0  1-2020
4           4          0           0  1-2020

In [100]:
new_df = df.groupby('Date').sum().reset_index()
new_df

       Date  Unnamed: 0  New_cases  New_deaths
0    1-2020         406          3           0
1    1-2021       11749    6287762       99947
2    1-2022       23064   20326766       63820
3   10-2020        8897    1816279       23405
4   10-2021       20212    2660078       48496
5   11-2020        9525    4376017       41079
6   11-2021       20475    2434307       31241
7   12-2020       10788    6172026       77204
8   12-2021       22103    5450181       42919
9    2-2020        1247         54           1
10   2-2021       11438    2465850       67983
11   2-2022       21658    4375115       62187
12   3-2020        2263     173267        3334
13   3-2021       13578    1777063       33270
14   3-2022       20000     908010       23435
15   4-2020        3105     856265       57122
16   4-2021       14055    1832985       20743
17   5-2020        4154     756706       44762
18   5-2021       15469     981290       17426
19   6-2020        4935     820220       22984
20   6-2021       15885     386159        9460
21   7-2020        6045    1882978       28760
22   7-2021       17360    1374814        9016
23   8-2020        7006    1524965       31815
24   8-2021       18321    4122164       31614
25   9-2020        7695    1202093       21373
26   9-2021       18645    4175968       54509

In [58]:

#monthly_spend_sum = df.groupby('Date')['New_deaths'].sum()

In [101]:
sorted = df.sort_values(by='Date')
print(sorted.head())

    Unnamed: 0  New_cases  New_deaths    Date
0            0          0           0  1-2020
28          28          0           0  1-2020
27          27          0           0  1-2020
26          26          0           0  1-2020
25          25          1           0  1-2020

In [105]:
new_df.to_csv('cleaned_covid_data.csv')